{% extends 'libraryApp/add_book_template.html' %}
{% load static %}

{% block content %}

    <br>

    <div class="container">
        <div class="card card-body">

            <form>
                <div class="card-header text-center">
                    <h2 class="text-info">Add author details</h2>
                </div>
                <br>

                <div class="form-group">
                    <label for="authName">Select author</label>
                    <select id="authName" class="selectpicker form-control" multiple data-live-search="true">
                        {% for i in authors %}
                            <option>{{i}}</option>
                        {% endfor %}
                    </select>
                </div>

                <h6 class="text-muted text-center">If not here, add the details <a data-toggle="collapse"
                        href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        here
                    </a></h6>


                <div class="collapse" id="collapseExample">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="firstName">Author name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="author name">
                        </div>
                    </div>
                </div>





                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Previous</button>

                    <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Next</button>
                </div>
            </form>


        </div>
    </div>

    <br>
    
{% endblock %}