{% extends 'libraryApp/add_book_template.html' %}
{% load static %}

{% block content %}

<br>

<div class="container">
  <div class="card card-body">

    <form>
      <div class="card-header text-center">
        <h2 class="text-info">Add book details</h2>
      </div>
      <br>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="firstName">Book title</label>
          <input type="text" class="form-control" id="firstName" placeholder="your book title">
        </div>
      </div>

      <div class="form-group">
        <label for="authName">Select author</label>
        <select id="authName" class="form-control">
          <option selected>Raghu</option>
          <option>Ksd</option>
        </select>
      </div>

      <div class="form-row">
        <div class="form-group col-md-9">
          <label for="pubName">Select publisher</label>
          <select id="pubName" class="form-control">
            <option selected>SBC</option>
            <option>Ksd</option>
          </select>
        </div>

        <div class="form-group col-md-3">
          <label for="firstName">Publication year</label>
          <br>
          <input class="datePicker form-control" type="text" id="datepicker">
        </div>
      </div>

      <div class="form-group">
        <label for="genre">Select Genre</label>
        <select id="genre" class="form-control">
          <option selected>Choose... </option>
          <option>Math</option>
          <option>Science</option>
        </select>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="firstName">ISBN</label>
          <input type="text" class="form-control" id="firstName" placeholder="978-3-16-148410-0">
        </div>

        <div class="form-group col-md-4">
          <label for="stock">Stock</label>
          <input type="number" class="form-control" id="stock" placeholder="no. of books">
        </div>
      </div>

      <div class="row justify-content-end">
        <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Previous</button>

        <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Submit</button>
      </div>
    </form>


  </div>
</div>

<br>

{% endblock %}