{% extends 'libraryApp/main.html' %}
{% load static %}

{% block content %}

<br>

<div class="row text-center booksTable">
    <div class="col-md-12">
        <h2 class="text-center">
            Currently, we have * no. of books in library
        </h2>
        <div class="row justify-content-end addBookBtn">
        <button type="button" class="btn btn-secondary btn-lg" data-toggle="tooltip" data-placement="right"
                title="Click here to add a book">Add book</button>
        </div>
        <br>
        <div class="card card-body">
            <table class="table table-sm table-hover">
                <tr>
                    <th>#</th>
                    <th>Book title</th>
                    <th>Genre</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Pub. year</th>
                    <th>ISBN</th>
                    <th>Availability</th>
                    <th>Manage</th>
                </tr>

                {% for i in books %}
                    <tr>
                        <td>{{i.slNo}}</td>
                        <td><a href="#">{{i.bookTitle}}</a></td>
                        <td>{{i.genre}}</td>
                        <td>{{i.author}}</td>
                        <td>{{i.pubName}}</td>
                        <td>{{i.pubYear}}</td>
                        <td>{{i.isbn}}</td>
                        <td>{{i.isAvail}}</td>
                        <td>{% include 'libraryApp/action_btn.html' %}</td>
                    </tr>
                    

                
                {% endfor %}

            </table>
        </div>
    </div>

    <br>
    {% endblock %}