{% extends 'libraryApp/main.html' %}
{% load static %}

{% block content %}

<nav class="navbar">
  <div class="navbar-nav mySubMenu ml-auto">
    <nav>
      <a href="{% url 'dashboard' %}" title="Click here to visit dashboard">Dashboard</a>
      <a class="text-success" href="{% url 'borrowbook' %}">Borrow book</a>
      <a href="{% url 'returnbook' %}" title="Click here to return borrowed books">Return book</a>
    </nav>
  </div>
  <form class="form-inline" method="POST">
    {% csrf_token %}
    <div class="input-group">
      <div id="speech" class="btn btn-light" title="Click the mic to speak">
        <i class="fa fa-microphone" aria-hidden="true"></i>
        <div class="pulse-ring" id="pulseRing"></div>
      </div>
      {{myFilter.form}}
      <div class="input-group-append">
        <button id="searchButton" class="btn btn-outline-success" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</nav>


<br>

<div class="row text-center booksTable">
    <div class="col-md-12">
        <h1 class="text-center">
            Currently, we have {{count}} no. of books in library
        </h1>
        
        <br>
        <div class="card card-body">

            <table id="dataTable6" class="table table-sm table-hover">

                <thead class="thead-light threadText">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Book Title</th>
                        <th scope="col">Genre</th>
                        <th scope="col">Author</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Pub. Year</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Stock</th>
                    </tr>
                </thead>

                {% for i in books %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{% url 'viewbook' i.bookID %}">{{i.bookTitle}}</a></td>
                    <td>{{i.genre}}</td>
                    <td>{{i.author}}</td>
                    <td>{{i.pubName}}</td>
                    <td>{{i.pubYear}}</td>
                    <td>{{i.isbn}}</td>
                    <td>{{i.stock}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <br>
</div>
{% endblock %}