{% extends 'libraryApp/main.html' %}
{% load static %}

{% block content %}
  
<br>
  
<div class="row">
	<div class="col-md-6 cardMargin">
    <h5 class="text-center">Borrowed Books</h5>
    <br>
		<div class="card card-body">
			<table class="table table-sm table-hover">
				<tr>
					<th>#</th>
					<th>Book title</th>
          
          <!-- TODO  CHECK IF STAFF OR NOT-->
          
          <th>User</th>
          <th>CheckOut</th>
          <th>DueDate</th>
				</tr>

        {% for i in borrowedBooks %}
          <tr>
            <td>{{i.slNo}}</td>
            <td><a href="#">{{i.bookTitle}}</a></td>
            <td>{{i.userName}}</td>
            <td>{{i.checkOut}}</td>
            <td>{{i.dueDate}}</td>
          </tr>
        {% endfor %}
			</table>
		</div>
	</div>

  <br>

	<div class="col-md-6 cardMargin">
    <h5 class="text-center">Returned Books</h5>
    <br>
		<div class="card card-body">
			<table class="table table-sm table-hover">
				<tr>
					<th>#</th>
          <th>Book title</th>
          <th>User</th>
          <th>checkOut</th>
          <th>checkIn</th>
				</tr>

        {% for i in borrowedBooks %}
          <tr>
            <td>{{i.slNo}}</td>
            <td><a href="#">{{i.bookTitle}}</a></td>
            <td>{{i.userName}}</td>
            <td>{{i.checkOut}}</td>
            <td>{{i.checkIn}}</td>
          </tr>
        {% endfor %}

        </table>
		</div>
	</div>

</div>
{% endblock %}
