{% extends 'libraryApp/main.html' %}
{% load static %}

{% block content %}

<nav class="navbar">
  <div class="navbar-nav mySubMenu ml-auto">
    <nav>
      <a class="text-success" href="{% url 'dashboard' %}">Dashboard</a>
      {% if not request.user.is_staff %}
        <a href="{% url 'borrowbook' %}" title="Click here to borrow books">Borrow book</a>
      {% endif %}
      {% if request.user.is_staff %}
        <a href="{% url 'manage' %}" title="Click here to manage books">Manage</a>
      {% endif %}
      {% if not request.user.is_staff %}
        <a href="{% url 'returnbook' %}" title="Click here to return borrowed books">Return book</a>
      {% endif %}
    </nav>
  </div>

  <form class="form-inline" method="POST">
    {% csrf_token %}
    <div class="input-group">
      <div id="speech" class="btn btn-light" title="Click the mic to speak">
        <i class="fa fa-microphone" aria-hidden="true"></i>
        <div class="pulse-ring" id="pulseRing"></div>
      </div>
      {{myFilter.form}}
      <div class="input-group-append">
        <button id="searchButton" class="btn btn-outline-success" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</nav>


{% if messages %}
    <div class="messages text-center mt-2"> 
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    </div>
  {% endif %}

<div class="row">
  <div class="col-md-6 cardMargin">
    <h2 class="text-center shadow-sm p-3 bg-white rounded">Borrowed Books</h2>
    <div class="col-md-12 mt-3">
      <h6 class="form-text text-center text-muted">

      {% if request.user.is_staff %}
        {% if bCount > 0 %}
          Till date students have borrowed {{bCount}} no. of books
        {% else %}
          Currently, students have not borrowed any books☹
        {% endif %}
      {% else %}
      {% if bCount > 0 %}
          Till date you have borrowed {{bCount}} no. of books
        {% else %}
          <p>Click <a href="{% url 'borrowbook' %}">here</a> to borrow books from the library</p>
        {% endif %}
      {% endif %}

      </h6>
    </div>

    <div class="card card-body shadow-sm p-3 bg-white rounded mt-4">
      <table id="dataTable1" class="table table-sm table-hover text-center">

        <thead class="thead-light threadText">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Book Title</th>
            {% if request.user.is_staff %}
              <th scope="col">User</th>
            {% endif %}
            <th scope="col">CheckOut</th>
            <th scope="col">DueDate</th>
          </tr>
        </thead>

        
        {% for i in borrowedBooks %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td><a href="{% url 'viewbook' i.bookID %}">{{i.bookTitle}}</a></td>
          {% if request.user.is_staff %}
            <td>{{i.userName}}</td>
          {% endif %}
          <td>{{i.checkOut|date:"d/m/Y h:i A"}}</td>
          <td>{{i.dueDate|date:"d/m/Y h:i A"}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <br>

  <div class="col-md-6 cardMargin">
    <h2 class="text-center shadow-sm p-3 bg-white rounded">Returned Books</h2>
    <div class="col-md-12 mt-3">
      <h6 class="form-text text-center text-muted">
        Till date {% if request.user.is_staff %}
            students
          {% else %}
             you
          {% endif %} have returned {{rCount}} no. of books
      </h6>
    </div>
    
    <div class="card card-body shadow-sm p-3 bg-white rounded mt-4">
      <table id="dataTable2" class="table table-sm table-hover text-center">

        <thead class="thead-light threadText text-center">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Book Title</th>
            {% if request.user.is_staff %}
              <th scope="col">User</th>
            {% endif %}
            <th scope="col">CheckOut</th>
            <th scope="col">CheckIn</th>
          </tr>
        </thead>

        {% for i in returnedBooks %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td><a href="{% url 'viewbook' i.bookID %}">{{i.bookTitle}}</a></td>
          {% if request.user.is_staff %}
            <td>{{i.userName}}</td>
          {% endif %}
          <td>{{i.checkOut|date:"d/m/Y h:i A"}}</td>
          <td>{{i.checkIn|date:"d/m/Y h:i A"}}</td>
        </tr>
        {% endfor %}

      </table>
    </div>
  </div>

</div>
{% endblock %}