{% load widget_tweaks %}

<div class="container">
  <h2 class="text-center text-info">Student</h2>
  <br>
  <form action="" method="POST">
    {% csrf_token %}

    <div class="container">
      {% for hidden_field in studentForm.hidden_fields %}
      {{ hidden_field }}
      {% endfor %}
      {% for field in studentForm.visible_fields %}
      <div class="form-group">
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
      {% endfor %}
    </div>

    <input type="submit" class="btn btn-primary btn-lg btn-block" name="STUDENT" value="Sign up"></input>

    <br>
    <h6 class="mt-5 mb-3 text-muted text-center">Already having a account, <a href="{% url 'signin' %}">Sign in</a> here
    </h6>
  </form>



  {% comment %} <form>
    <h2 class="text-center text-info">Student</h2>
    <br>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" placeholder="firstName">
      </div>
      <div class="form-group col-md-4">
        <label for="middleName">Middle name</label>
        <input type="text" class="form-control" id="middleName" placeholder="middleName">
      </div>
      <div class="form-group col-md-4">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" placeholder="lastName">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>

      <div class="form-group col-md-12">
        <label for="cnfPwd">Confirm Password</label>
        <input type="password" class="form-control" id="cnfPwd" placeholder="Confirm password">
      </div>
    </div>


    <div class="form-group">
      <label for="inputAddress">Address</label>
      <textarea class="form-control" id="inputAddress" rows="2" placeholder="1234 Main Street"></textarea>
    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="district">District</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>Ksd</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose your state</option>
          {% for i in states %}
          <option>{{i}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group col-md-2">
        <label for="inputZip">Pin code</label>
        <input type="text" class="form-control" id="inputZip">
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" placeholder="123456789">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="usn">USN</label>
        <input type="text" class="form-control" id="usn" placeholder="1by18is001">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="course">Course</label>
        <select id="course" class="form-control">
          <option selected>Choose your branch</option>
          {% for i in courses %}
          <option>{{i}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="sem">Semester</label>
        <select id="sem" class="form-control">
          <option selected>Choose your sem</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>

    <br>
    <h6 class="mt-5 mb-3 text-muted text-center">Already having a account, <a href="{% url 'signin' %}">Sign in</a> here
    </h6>
  </form> {% endcomment %}


</div>