{% load static %}
{% load widget_tweaks %}

<div class="container">
    <h2 class="text-center text-info">Staff</h2>
  <br>


<form method="POST" novalidate>
  {% csrf_token %}

  {% for hidden_field in staffForm.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if staffForm.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in staffForm.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in staffForm.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if staffForm.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

 <input type="submit" class="btn btn-primary btn-lg btn-block" name="STAFF" value="Sign up"></input>

    <br>
    <h6 class="mt-5 mb-3 text-muted text-center">Already having a account, <a href="{% url 'signin' %}">Sign in</a> here
    </h6>

</form>


  {% comment %} <form>
    <h2 class="text-center text-info">Staff</h2>
    <br>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" placeholder="firstName">
      </div>
      <div class="form-group col-md-4">
        <label for="middleName">Middle name</label>
        <input type="text" class="form-control" id="middleName" placeholder="middleName">
      </div>
      <div class="form-group col-md-4">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" placeholder="lastName">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>

      <div class="form-group col-md-12">
        <label for="cnfPwd">Confirm Password</label>
        <input type="password" class="form-control" id="cnfPwd" placeholder="Confirm password">
      </div>
    </div>


    <div class="form-group">
      <label for="inputAddress">Address</label>
      <textarea class="form-control" id="inputAddress" rows="2" placeholder="1234 Main Street"></textarea>
    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="district">District</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>Ksd</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
        <option selected>Choose your state</option>
        {% for i in states %}
          <option>{{i}}</option>
        {% endfor %}
        </select>
      </div>

      <div class="form-group col-md-2">
        <label for="inputZip">Pin code</label>
        <input type="text" class="form-control" id="inputZip">
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" placeholder="123456789">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="salary">Salary</label>
        <input type="text" class="form-control" id="salary" placeholder="₹₹₹₹₹">
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>

    <br>
    <h6 class="mt-5 mb-3 text-muted text-center">Already having a account, <a href="{% url 'signin' %}">Sign in</a> here</h6>
  </form> {% endcomment %}


</div>