{% extends 'libraryApp/main.html' %}
{% load static %}

{% block content %}

<nav class="navbar">
  <div class="navbar-nav mySubMenu ml-auto">
    <nav>
        <a href="{% url 'dashboard' %}" title="Click here to visit dashboard">Dashboard</a>
        <a class="text-muted " href="{% url 'manage' %}">Manage</a>
    </nav>
  </div>
  <form class="form-inline" method="POST">
    {% csrf_token %}
    <div class="input-group">
      <div id="speech" class="btn btn-light" title="Click the mic to speak">
        <i class="fa fa-microphone" aria-hidden="true"></i>
        <div class="pulse-ring" id="pulseRing"></div>
      </div>
      {{myFilter.form}}
      <div class="input-group-append">
        <button id="searchButton" class="btn btn-outline-success" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</nav>

    <div class="container-fluid">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% comment %} {% if 1 == value %} {% endcomment %}
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Authors</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Publishers</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Books</a>
            {% comment %} {% elif 2 == value %}
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Authors</a>
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Publishers</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Books</a>
            {% elif 3 == value %}
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Authors</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Publishers</a>
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Books</a>
            {% endif %} {% endcomment %}
             </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
        {% comment %} {% if 1 == value  %} {% endcomment %}
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                {% include 'libraryApp/author.html' %}
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                {% include 'libraryApp/publisher.html' %}
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                {% include 'libraryApp/book.html' %}
            </div>
        {% comment %} {% elif 2 == value %}
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                {% include 'libraryApp/author.html' %}
            </div>
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                {% include 'libraryApp/publisher.html' %}
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                {% include 'libraryApp/book.html' %}
            </div>
        {% elif 3 == value  %}
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                {% include 'libraryApp/author.html' %}
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                {% include 'libraryApp/publisher.html' %}
            </div>
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                {% include 'libraryApp/book.html' %}
            </div>

        {% endif %} {% endcomment %}
        </div>
    </div>

{% endblock content %}