<div class="container-fluid">
    <div class="row text-center booksTable mt-5">
        <div class="col-md-12">
            <h1 class="text-center">
                Currently, we have {{pubCount}} no. of Publishers in Library database
            </h1>
            <div class="row justify-content-end addBookBtn">
                <a href="{% url 'addpublisherdetail' 'Add' %}">
                    <button type="button" class="btn btn-secondary btn-lg" data-toggle="tooltip" data-placement="right"
                        title="Click here to add a book">Add Publisher</button>
            </div>
            </a>
            <br>
            <div class="card card-body">

                <table class="table table-sm table-hover">

                    <thead class="thead-light threadText">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Street Address</th>
                            <th scope="col">District</th>
                            <th scope="col">State</th>
                            <th scope="col">Pin Code</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Manage</th>
                        </tr>
                    </thead>

                    {% for i in allPublishers %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.pubName}}</td>
                        <td>{{i.streetAddr}}</td>
                        <td>{{i.district}}</td>
                        <td>{{i.state}}</td>
                        <td>{{i.pinCode}}</td>
                        <td>{{i.phoneNum}}</td>
                        <td>{% include 'libraryApp/pub_action_btn.html' %}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>