{% extends 'libraryApp/main.html' %}
{% load static %}

{% block content %}

<br>

<div class="row text-center booksTable container">
    <div class="col-md-12">
        <h2 class="text-center">
           Return book
        </h2>
        <br>
        <div class="card card-body">
            <table class="table table-sm table-hover">
                <tr>
                    <th>#</th>
                    <th>Book title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>checkOut</th>
                    <th>dueDate</th>
                </tr>

                {% for i in borrowedBooks %}
                    <tr>
                        <td>{{i.slNo}}</td>
                        <td><a href="#">{{i.bookTitle}}</a></td>
                        <td>{{i.authorName}}</td>
                        <td>{{i.isbn}}</td>
                        <td>{{i.checkOut}}</td>
                        <td>{{i.dueDate}}</td>
                    </tr>
                {% endfor %}
                
                
            </table>
        </div>
    </div>

    <br>
    {% endblock %}