{% extends 'libraryApp/main.html' %}
{% load static %}

{% block content %}

<nav class="navbar">
  <div class="navbar-nav mySubMenu ml-auto">
    <nav>
      <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'borrowbook' %}">Borrow book</a>
        <a href="{% url 'manage' %}">Manage</a>
        <a class="text-muted" href="{% url 'returnbook' %}">Return book</a>
    </nav>
  </div>
  <form class="form-inline" method="POST">
    {% csrf_token %}
    {% comment %} <input class="form-control mr-sm-2" type="search" placeholder="Search for books" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> {% endcomment %}
    <div class="input-group">
      <button class="btn btn-secondary" type="button">
        <i class="fa fa-microphone"></i>
      </button>
      {{myFilter.form}}
      <div class="input-group-append">
        <button id="searchButton" class="btn btn-outline-success" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</nav>
<br>

<div class="row text-center booksTable container">
    <div class="col-md-12">
        <h1>
           Return book
        </h1>
        <div class="col-md-12 mt-3">
        <h6 class="form-text text-muted">
            You have borrowed {{count}} no. of books
        </h6>
        </div>

        <div class="card card-body mt-4">
            <table class="table table-sm table-hover">
                
            <thead class="thead-light threadText">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Book Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">CheckOut</th>
                    <th scope="col">DueDate</th>
                </tr>
            </thead>
    
                {% for i in borrowedBooks %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'viewbook' i.bookID %}">{{i.bookTitle}}</a></td>
                        <td>{{i.authorName}}</td>
                        <td>{{i.isbn}}</td>
                        <td>{{i.checkOut}}</td>
                        <td>{{i.dueDate}}</td>
                    </tr>
                {% endfor %}
                
                
            </table>
        </div>
    </div>

    <br>
    {% endblock %}