{% extends 'libraryApp/authenticate.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Welcome to LMS</h5>
      <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="{% url 'signin' %}">Sign in</a>
          <a class="p-2 text-muted" href="{% url 'signup' %}">Sign up</a>
      </nav>
    </div>


{% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-right ml-auto">
              <li class="nav-item">
                <a class="nav-link " href="{% url 'signin' %}">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'signup' %}">Sign up</a>
              </li>
            </ul>
          </div>
    </nav> {% endcomment %}

    <div class="container mt-4" style="max-width: 700px;">

    <div class="text-center">
        <img class="mb-4" src="{% static '/img/lms.png' %}" alt="" >
        <h1 class="h3 mb-3 font-weight-normal">Library Management System</h1>
      </div>

      <br>
        <br>
        <br>
        

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Student</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Staff</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {% include 'libraryApp/forms-student.html' %}
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            {% include 'libraryApp/forms-staff.html' %}
        </div>
    </div>

    </div>

{% endblock content %}