{% extends 'libraryApp/main.html' %}
{% load static %}

{% block content %}

<style>
    .viewBook {
        margin: 10px;
    }
    .bookTitle{
        font-size: 34px;
        color: #444444;
    }
    .center{
        margin: auto;
    }
    .cardHead{
        background-color: lightsteelblue;
    }
    .bookCopy{
        color: #fffffff6;
    }
    .small{
        font-size: 20px;
    }
    .bodyText{
        font-size: 18px;
    }
</style>

<div>
    <h1 class="text-center">
        View book
     </h1> 
</div>

<div class="row align-items-center viewBook mt-4">
    <div class="card card-body border-light bg-light col-md-8">
        <!-- <img src="{% static '/img/sample-book-cover2.png' %}" class="img-rounded" alt=""> -->
        <div class="card-header text-center cardHead">
            <div class="row justify-content-center">
                <h3 class="font-weight-bold bookTitle">
                    {{book.bookTitle}} <span class="small">({{book.stock}}*)</span>
                </h3>
            </div>
            <div class="row justify-content-center">
                <div class="bookCopy mr-4">
                    {{book.genre}}
                </div>
            </div>
        </div>


        <div class="card-body text-center bodyText">
            <div class="row justify-content-center">
                <strong class="pr-1">Author:</strong> {{book.author}}
            </div>
            <div class="row justify-content-center pt-1">
                <strong class="pr-1">ISBN:</strong> {{book.isbn}}
            </div>
            <div class="row justify-content-center pt-1">
                <strong class="pr-1">Publisher:</strong> {{book.pubName}},
                {{book.pubYear}}
            </div>
            <div class="row justify-content-center pt-1">
                <strong class="pr-1">Address:</strong> {{pub.streetAddr}},<br> {{pub.district}},<br> {{pub.state}}, {{pub.pinCode}}
            </div>
            <div class="row justify-content-center pt-1">
                <strong class="pr-1">Phone:</strong> {{pub.phoneNum}}
            </div>
        </div>

    </div>
    <div class="col-md-4 mt-5">
        <div class="row justify-content-center">
            <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-outline-success btn-lg" data-toggle="tooltip" data-placement="right"
                title="Click here to borrow the book">Borrow</button></a>
        </div>
        <br>
        <div class="row justify-content-center">
            <a href="{% url 'dashboard' %}"><button type="button" class="btn btn-outline-danger btn-lg" data-toggle="tooltip" data-placement="right"
                title="Click here to return the book">Return</button></a>
        </div>
    </div>
</div>

<br>


{% endblock %}