{% extends 'libraryApp/main.html' %}
{% load static %}

{% block content %}

<style>
    .viewBook {
        margin: 10px;
    }

    .bookTitle {
        font-size: 34px;
        color: #444444;
    }

    .center {
        margin: auto;
    }

    .cardHead {
        background-color: lightsteelblue;
    }

    .bookCopy {
        color: #fffffff6;
    }

    .small {
        font-size: 20px;
    }

    .bodyText {
        font-size: 18px;
    }
</style>

<nav class="navbar">
  <div class="navbar-nav mySubMenu ml-auto">
   <nav>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        {% if not request.user.is_staff %}
            <a href="{% url 'borrowbook' %}">Borrow book</a>
        {% endif %}
        {% if request.user.is_staff %}
            <a href="{% url 'manage' %}">Manage</a>
        {% endif %}
        {% if not request.user.is_staff %}
            <a href="{% url 'returnbook' %}">Return book</a>
        {% endif %}
    </nav>
  </div>
  <form class="form-inline" method="POST">
    {% csrf_token %}
    <div class="input-group">
      <div id="speech" class="btn btn-light" title="Click the mic to speak">
        <i class="fa fa-microphone" aria-hidden="true"></i>
        <div class="pulse-ring" id="pulseRing"></div>
      </div>
      {{myFilter.form}}
      <div class="input-group-append">
        <button id="searchButton" class="btn btn-outline-success" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</nav>


<br>

<div>
    <h1 class="text-center">
        View book
    </h1>
</div>

<div class="row align-items-center viewBook mt-4">
    <div class="card card-body border-light bg-light col-md-8">
        <!-- <img src="{% static '/img/sample-book-cover2.png' %}" class="img-rounded" alt=""> -->
        <div class="card-header text-center cardHead">
            <div class="row justify-content-center">
                <h3 class="font-weight-bold bookTitle">
                    {{book.bookTitle}} <span class="small">({{book.stock}}*)</span>
                </h3>
            </div>
        </div>


        <div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Author</th>
                        <td>{{book.author}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Genre</th>
                        <td>{{book.genre}}</td>
                    </tr>
                    <tr>
                        <th scope="row">ISBN</th>
                        <td>{{book.isbn}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Publisher</th>
                        <td>{{book.pubName}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Year of pub.</th>
                        <td>{{book.pubYear}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td>{{pub.streetAddr}},<br> {{pub.district}},<br> {{pub.state}},{{pub.pinCode}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone</th>
                        <td>{{pub.phoneNum}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="col-md-4 mt-5">
        <div class="row justify-content-center">
            <button type="button" onclick="location.href='{% url 'requestBorrowBook' book.bookID %}'" class="btn btn-outline-success btn-lg" 
            {% if request.user.is_staff or isBookBorrowed %}disabled{% endif %}
                    data-toggle="tooltip" data-placement="right"
                    title="Click here to borrow '{{book.bookTitle}}'">Borrow book</button>
        </div>
        <br>
        <div class="row justify-content-center">
            <button type="button" onclick="location.href='{% url 'requestReturnBook' book.bookID %}'" class="btn btn-outline-danger btn-lg"
            {% if request.user.is_staff or not isBookBorrowed %}disabled{% endif %}
                    data-toggle="tooltip" data-placement="right"
                    title="Click here to return '{{book.bookTitle}}'">Return book</button>
        </div>
    </div>
</div>

<br>


{% endblock %}